*{margin: 0;padding: 0;}
ul {
    list-style: circle;
}
body{
    padding: 40px 0px 0px 28px;
}
h2{
    column-span: all;
}
.newspaper{
    column-count: 4;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-color: rgb(112, 151, 236);
    column-rule-width: 3px;
    
}
a:link{color: rgb(30, 206, 23);
}
a:visited{color: rgb(23, 57, 206);
}


